.login-page {
  background-image: linear-gradient(135deg, #D1FFBC, #71C4F5);
  background: #4C5E6A;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.login-container {
  min-height: 400px;
  padding: 30px;
  background: white;
  border-radius: 7px;
  margin: auto;
  text-align: center;
  display: flex;
}
.login-intro {
  max-width: 500px;
  float: left;
  width: 50%;
}
.login-container h1, .login-container h2 {
  text-transform: uppercase;
}
.avatar {
  max-width: 200px;
  border-radius: 100%;
  margin: 30px 0;
  display: inline-block;
  clip-path: circle();
  overflow: hidden;
}